<div class="form-control w-full max-w-xs">
  <label class="label"><span class="label-text">What's your Address and Contacts?</span></label>
  <br />
        <label class="label"><span class="label-text">Office Number:</span></label>
    <div class="my-4">
        <%= f.number_field :office_number, class: "input input-bordered w-full" %>
    </div>
    <label class="label"><span class="label-text">Mobile Number:</span></label>
    <div class="my-4">
        <%= f.number_field :mobile_number, class: "input input-bordered w-full" %>
    </div>
        <label class="label"><span class="label-text">Address:</span></label>
    <div class="my-4">
        <%= f.text_field :address, class: "input input-bordered w-full" %>
    </div>
    <label class="label"><span class="label-text">City:</span></label>
    <div class="my-4">
       <%= f.text_field :city, class: "input input-bordered w-full" %> 
    </div>
    <label class="label"><span class="label-text">Zip:</span></label>
    <div class="my-4">
       <%= f.text_field :zip, class: "input input-bordered w-full" %> 
    </div>
</div>