
<div class="grid grid-cols-2 grid-gap-4"> 
    <div> 
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
          <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Profile Details</h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">Profile name, lastname, PERSAL, and email address is <%= current_user.email %></p>
          </div>
          <%= turbo_frame_tag current_user do %>
          <div class="border-t border-gray-200">
            <dl>
              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">Your are</dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= current_user.name %> "<%= current_user.initials %>" <%= current_user.lastname %></dd>
              </div>
              <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">You were born in</dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= current_user.dob %></dd>
              </div>
              <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">Your gender is</dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= current_user.gender.name %></dd>
              </div>
              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">With PERSAL number</dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= current_user.persal_number %></dd>
              </div>
              <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">And your identity number is</dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= current_user.identity_number %></dd>
              </div>
              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">Your address is</dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= current_user.address %>, <%= current_user.city %>, <%= current_user.zip %></dd>
              </div>
            </dl>
            <dl>
            
              <% @user = User.find(current_user.id) %>
              
              <%= render @user %>
            <%= turbo_frame_tag "edit-user" do %>
              <%= link_to "Edit", edit_user_path(current_user), class: "inline-block cursor-pointer rounded-md bg-gray-800 px-4 py-3 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-900 mr-4" %>
            <% end %>
            </dl>
          </div>
        </div>
    </div>
    <div>
    <% if user_signed_in? %>
          <%= image_tag current_user.avatar.variant(:medium), class: "ml-8 mask mask-squircle" if current_user.avatar.attached? %>
    <% end %>
    </div>
</div>

<% end %>
